@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
/* 
* {
    margin: 0;
    padding: 0;
} */

.rrr {
    background-color: red;
    width: 10px;
    height: 10px;
}

body {
    background-color: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight:  300;
}

.wrapper {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #f4f4f4;
    border-radius: 1cap;
}

.header {
    background-color: #706e6e;
    border-radius: 1cap 1cap 0 0;
    overflow: auto;
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
    float: left;
    position: absolute;
    left: 3%;
}

header .login-block {
    width: 10%;
    float: right;
    margin: 0.5%;
    white-space: nowrap;
    position: absolute;
    right: 10%;
}

.sign-in-btn {
    cursor: pointer;
    margin-right: 15%;
}

.sign-up-btn {
    cursor: pointer;
    margin-left: 15%;
}

.sign-up-btn,
.sign-in-btn {
    color: #FFFFFF;
    background-color: #26278D;
    border: none;
    border-radius: 1cap;
    font-size: 15px;
    font-weight: 600;
    padding: 8% 15%;
    transition: transform 500ms ease;
}

.sign-up-btn:hover,
.sign-in-btn:hover {
    background-color: red;
    transform: scale(1.1);
}

.main-text {
    display: flex;
    display: block;
    text-align: center;
}
    
.main-text h1 {
    color: #26278D;
}
        
.main-text p {
    color: #808080
}

.convert-box {
    /* border: black 1px solid; */
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
    width: 50%;
    height: 500px;
    border-radius: 3cap;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
}

.convert-btn {
    background-color: #FFFFFF;
    border-radius: 100%;
    font-size: 40px;
    color: #26278D;
    position: absolute;
    top: -0.7cap;
    left: 45%;
    z-index: 1;
    cursor: pointer;
    transition: transform 500ms ease;
}

.convert-btn:hover {
    transform: scale(1.2);
    color: #393ff3;
}

.amount-box,
.converted-amount-box {
    color: #989898;
    font-size: large;
    font-weight: 600;
    position: relative;
    left: 8%;
}

.amount-box {
    top: 10%;
}

.converted-amount-box {
    top: 50%
}

.current-convert-box,
.converted-convert-box {
    margin: auto;
    width: 90%;
    display: flex;
}

.current-convert-box {
    position: absolute;
    left: 5%;
    top: 25%;
}

.converted-convert-box {
    position: absolute;
    left: 5%;
    bottom: 20%;
}

.currency {
    position: absolute;
    left: 10%;
    width: 20%;
    height: 40px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    font-size: 20px;
    text-align: center;
    color: #26278D;
    font-weight: 600;
}

.count-money-box {
    position: absolute;
    right: 0;
    right: 10%;
    background-color: #e1dede;
    border: none;
    border-radius: 0.7cap;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.count-money {
    background-color: #e1dede;
    border: none;
    border-radius: 0.7cap;
    height: 40px;
    max-width: 140px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.line-between-currency {
    width: 90%;
    border: #d7d7de 1px solid;
    position: absolute;
    top: 50%;
    right: 5%;
}

.result-box {
    text-align: center;
}

.result-box h3 {
    color: #9B9B9B;
}

.result-box div {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.result-box h2 {
    padding: 0 1%;
    width: auto;
    border: #222 2px solid;
    border-radius: 1cap;
}
            
.footer {
    background-color: #dcdcdc;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 0 0 1cap 1cap;
}

.footer-text a {
    text-decoration: none;
    font-weight: 600;
}